# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/

# Pytest cache
.pytest_cache/
.pytest_cache/**

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS / Windows specific files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variable files
.env
.env.*

# Data folder: ignora CSV grandes y compresiones
data/*.csv
data/*.csv.gz
data/*.zip

# Ignore IDE/editor folders (ajusta según el editor que uses)
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# C extensions
*.pyd

# Distribution artifacts
*.egg
*.eggs
*.egg-info/
dist/
build/
